extends layout

block content
  .container-fluid
    .row-fluid
      .span12
        div.page-header
          h2 <a href="http://github.com/racker/devopsjson">devops.json</a> Validator

        p Paste your devops.json data below to validate it against the <a href="/schema">schema</a>.

        form(class="form-horizontal", method="POST", action="/")
          fieldset
            legend Validation Form
            div.control-group
              label.control-label devops.json data
              div.controls
                textarea(class="span8", rows="20", name="json_text", style="font-family: courier;") #{json_text}
                p(class="help-block") Enter the devops.json text that you wish to validate.
            div.form-actions
              button(class="btn btn-primary", type="submit") Validate

        if report
          if report.errors.length === 0
            div.alert.alert-success 
              a(class="close", data-dismiss="alert", href="#") &times;
              strong Success!
              p Your devops.json is valid
          else
            div.alert.alert-error
              a(class="close", data-dismiss="alert", href="#") &times;
              strong Failure!
              p Your devops.json is invalid
              each error, i in report.errors
                p Error #{i}
                ul
                each val, key in error
                  li #{key}: #{val}
            if report.validated.length > 0
              div.alert.alert-info
                a(class="close", data-dismiss="alert", href="#") &times;
                strong Validated Fields
                ul
                each val, key in report.validated
                  li
                    a(href="#{val}") #{key}
